body {
  text-align: center;
  background-color: #1E1E1E;
  color: burlywood;
}
#post-text
{
  text-transform: capitalize;
}
.post-container
{
  width: 20%;  
  margin: 5% 3%;
  height: 400px;
  display:inline-grid;
  grid-row-gap: 5px;
  border: 1px solid blueviolet;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  padding: 20px;
}
.body-section
{
  display: flex;
}
.cart
{
  width: 20%;
}
.post-section
{
  width: 80%;
  border-right: 0.5px solid burlywood;
}
#more-btn
{
  height: 40px;
  background-color: goldenrod;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 1.3rem;
  font-weight: 800;
}
#more-btn:hover
{
  background-color: rgb(190, 142, 19);
  transition-property: all;
  transition: 500ms;
}


/* Responsive */
@media only screen and (max-width: 1020px)
{
  .post-container
  {
    width: 30%;
  }
}
@media only screen and (max-width: 720px)
{
  .post-container
  {
    width: 70%;
  }
}